<div class="ui card fluid">
  <div class="content widget-item__header">
    <h2>
      <img src="/assets/pocket-logo.png" class="pocket-logo">
      <span>{{settings.ComponentTitle}}</span>
    </h2>
    <widget-edit (onSaveWidget)="onSaveWidget($event)" [Settings]="settings"></widget-edit>
  </div>
  <div class="content">
    <div [ngClass]="{'loading-item--is-loading': !(items), 'loading-item':true}">
      <div *ngFor="let item of items; let isLastItem=last;" class="pocket-item">
        <div class="content">
          <div class="item-header">
            <div>
              <h3 class="ui header small">
                <a class="ui" [href]="item.given_url" target="_blank">
                  <span *ngIf="item.resolved_title">{{item.resolved_title}}</span>
                  <span *ngIf="!item.resolved_title">No title</span>
                </a>
              </h3>
              <div class="extra">
                <span class="item-hostname">{{item.hostname}}</span>
                <div class="ui horizontal label" *ngFor="let tag of item.pretty_tags">
                  {{tag.tag}}
                  <button class="icon-button loading" (click)="onRemoveTag($event, item.item_id, tag.tag)">
                    <i class="delete icon"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="pocket-action">
              <button class="ui icon basic green button" (click)="onArchive($event, item.item_id)" data-tooltip="Arkivera">
                <i class="checkmark icon"></i>
              </button>
              <button class="ui icon basic teal button" (click)="onShowModal(item)" data-tooltip="Tagga">
                <i class="tags icon"></i>
              </button>
              <button class="ui icon basic red button" (click)="onDelete($event, item.item_id)" data-tooltip="Ta bort">
                <i class="remove icon"></i>
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="!isLastItem" class="ui divider"></div>
      </div>
    </div>
  </div>

  <app-pocket-tag (onAddedTag)="onAddedTag($event)"></app-pocket-tag>
</div>
