<div class="ui card fluid">
  <div class="content widget-item__header">
    <h2>
      <i class="train icon orange"></i>
      <span>{{settings.ComponentTitle}}</span>
    </h2>
    <widget-edit (onSaveWidget)="onSaveWidget($event)" [Settings]="settings"></widget-edit>
  </div>
  <div class="content">
    <div *ngFor="let trafficType of trafficStatus; let isLastType=last;">
      <h3 class="ui header clickable" (click)="trafficType.isVisible = !trafficType.isVisible;">
        <span>
          <i class="{{trafficType.IconName}} icon"></i>
          {{trafficType.Name}}
        </span>
        <i class="{{trafficType.StatusIcon}} icon ui right floated"></i>
      </h3>
      <div *ngIf="trafficType.isVisible">
        <div *ngFor="let event of trafficType.Events; let isLastEvent=last;">
          <div *ngIf="event.TrafficLine">
            <strong>Linje:</strong> {{event.TrafficLine}}
          </div>
          <div *ngIf="event.Planned">
            <strong>Planerat:</strong> Ja
          </div>
          <p>{{event.Message}}</p>
          <div *ngIf="!isLastEvent" class="ui divider"></div>
        </div>
      </div>
      <div *ngIf="!isLastType" class="ui divider"></div>
    </div>
  </div>
</div>
