<div *ngIf="items.length">
  <strong>{{departureTitle}}</strong>
  <div *ngFor="let departure of items">
  <!-- <pre>
      {{departure | json}}
    </pre> -->

    <button class="ui button basic" (click)="departure.isExpanded = !departure.isExpanded">
      {{departure.LineNumber}}
      {{departure.Destination}}
      {{departure.DisplayTime}}
    </button>

    <div *ngIf="departure.isExpanded">
      <div>
        <strong>GroupOfLine</strong>
        {{departure.GroupOfLine}}
      </div>
      <div>
        <strong>LineNumber</strong>
        {{departure.LineNumber}}
      </div>
      <div>
        <strong>TransportMode</strong>
        {{departure.TransportMode}}
      </div>
      <div>
        <strong>Destination</strong>
        {{departure.Destination}}
      </div>
      <div>
        <strong>JourneyDirection</strong>
        {{departure.JourneyDirection}}
      </div>
      <div>
        <strong>Avgångstid enligt tidtabell.</strong>
        {{departure.TimeTabledDateTime}}
      </div>
      <div>
        <strong>Förväntad avgångstid</strong>
        {{departure.ExpectedDateTime}}
      </div>
      <div>
        <strong>Avgångstid</strong>
        {{departure.DisplayTime}}
      </div>
      <div>
        <strong>Deviations</strong>: null
        {{departure.Deviations}}
      </div>
    </div>
  </div>
  <div class="ui divider"></div>
</div>
