<div class="ui card fluid">
  <div class="content widget-item__header">
    <h2>
      <i class="map outline icon"></i>
      <span>{{getSetting('ComponentTitle')}}</span>
    </h2>
    <widget-edit (onSaveWidget)="onSaveWidget($event)" [Settings]="settings"></widget-edit>
  </div>
  <div class="content">
    <div *ngIf="realtimeInfo">
      <div>
        <strong>Senast uppdaterat</strong>
        {{realtimeInfo.LatestUpdate | date: 'HH:mm:ss'}}
      </div>
      <br>
      <traffic-departure-info departureTitle="Tunnelbana" [items]="realtimeInfo.Metros"></traffic-departure-info>
      <traffic-departure-info departureTitle="Buss" [items]="realtimeInfo.Buses"></traffic-departure-info>
      <traffic-departure-info departureTitle="Tåg" [items]="realtimeInfo.Trains"></traffic-departure-info>
      <traffic-departure-info departureTitle="Spårvagn" [items]="realtimeInfo.Trams"></traffic-departure-info>
      <traffic-departure-info departureTitle="Båt" [items]="realtimeInfo.Ships"></traffic-departure-info>
      <div>
        <strong>StopPointDeviations</strong>
      </div>
    </div>
  </div>
</div>
