<button class="circular ui icon button right floated" (click)="onShowModal()" data-tooltip="Redigera inställningar">
  <i class="icon settings"></i>
</button>
<lsu-modal [(ngModel)]="showModal" [options]="modalOptions">
  <div class="content">
    <div class="description">
      <div class="ui header">Redigera inställningar</div>
      <div class="ui form" *ngIf="Widget && Widget.Settings && Widget.Settings.length">
        <div class="field" *ngFor="let setting of Widget.Settings; let isFirst = first;">
          <div [ngSwitch]="setting.type">
            <div *ngSwitchCase="'boolean'">
              <lsu-checkbox [(ngModel)]="setting.value" [label]="setting.title" [type]="'checkbox'"></lsu-checkbox>
            </div>
            <div *ngSwitchDefault>
              <div class="ui input">
                <label>
                  <div>{{setting.title}}</div>
                  <input *ngIf="isFirst" [(ngModel)]="setting.value" #setFocus>
                  <input *ngIf="!isFirst" [(ngModel)]="setting.value">
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <button class="ui positive right button" (click)="onSaveSettings($event)">
      Spara
    </button>
    <button class="ui black deny button" (click)="showModal = false;">
      Avbryt
    </button>
    <button class="ui black red button" (click)="onDeleteWidget($event)">
      Ta bort
    </button>
  </div>
</lsu-modal>
