<div *ngIf="realtimeInfo">
  <h2>{{stopTitle}}</h2>
  <div>
    <strong>LatestUpdate</strong>
    {{realtimeInfo.LatestUpdate | date: 'mediumTime'}}
  </div>
  <br>
  <app-traffic-departure-info departureTitle="Tunnelbana" [items]="realtimeInfo.Metros"></app-traffic-departure-info>
  <app-traffic-departure-info departureTitle="Buss" [items]="realtimeInfo.Buses"></app-traffic-departure-info>
  <app-traffic-departure-info departureTitle="Tåg" [items]="realtimeInfo.Trains"></app-traffic-departure-info>
  <app-traffic-departure-info departureTitle="Spårvagn" [items]="realtimeInfo.Trams"></app-traffic-departure-info>
  <app-traffic-departure-info departureTitle="Båt" [items]="realtimeInfo.Ships"></app-traffic-departure-info>
  <div>
    <strong>StopPointDeviations</strong>
  </div>
</div>
