<app-header></app-header>
<div class="ui main container">
  <h1 class="ui center aligned header">{{title}}</h1>

  <div class="ui grid centered">
    <div class="nine wide column">
      <!-- <app-pocket></app-pocket> -->
      <!-- <app-misc></app-misc> -->
      <traffic-realtime SiteId="9206" LocationTitle="Östermalmstorg"></traffic-realtime>
      <!-- <traffic-search-location></traffic-search-location> -->
    </div>
    <div class="four wide column">
      <!-- <app-day-info></app-day-info>
      <div class="ui hidden divider"></div>
      <traffic-status></traffic-status> -->
    </div>
  </div>
</div>
