<app-header></app-header>
<div class="ui main container">
  <h1 class="ui center aligned header">{{title}}</h1>

  <div class="ui grid centered">
    <div class="nine wide column">
      <div class="ui card fluid">
        <div class="content">
          <img src="/assets/pocket-logo.png" height="21px">
        </div>
        <div class="content">
          <app-pocket></app-pocket>
        </div>
      </div>
    </div>
    <div class="four wide column">
      <div class="ui card fluid">
        <div class="content">
          <div class="header">
            <i class="calendar icon"></i>
            Today
          </div>
        </div>
        <div class="content">
          <app-day-info></app-day-info>
        </div>
      </div>
    </div>
  </div>
</div>
