@import url("assets/semantic/dist/semantic.css");

.icon-button {
  padding: 0;
  border: 0;
  background: transparent;
  transition: color 0.16s;
}
.icon-button:not(:hover):not(:focus) {
  color: rgba(0,0,0,0.3)
}
.icon-button .icon {
  margin: 0 0 0 0.5em;
  padding: 0;
  width: auto;
  height: auto;
}

.link-button {
  border: 0;
  padding: 0;
  background: transparent;
  color: #4183C4;
}
.link-button:hover,
.link-button:focus {
  color: #1e70bf
}



/* Semantic UI modifications */
a.ui.black {
  color: rgba(0, 0, 0, 0.87);
  transition: border 0.16s;
  border-bottom: 1px solid transparent;
}
a.ui.black:hover,
a.ui.black:focus {
  color: rgba(0, 0, 0, 1);
  border-bottom-color: rgba(0, 0, 0, 1);;
}

/* Clickable title */
.clickable {
  cursor: pointer;
}

/* Widget list */
.widget-list {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  margin: -10px -10px 14px -10px;
}
.widget-item {
  flex: 0 0 auto;
  margin: 10px;
}
.widget-item--large {
  width: calc(75% - 20px);
}
.widget-item--medium {
  width: calc(50% - 20px);
}
.widget-item--small {
  width: calc(25% - 20px);
}
.widget-item__header {
  display: flex;
}
.widget-item__header > h2 {
  margin-bottom: 0;
  display: flex;
  overflow: hidden;

}
.widget-item__header > h2 > span {
  margin-left: 0.1em;
}
.widget-item__header > widget-edit {
  margin-left: auto;
  opacity: 0;
  transition: opacity 0.2s;
}
.widget-item:hover .widget-item__header > widget-edit,
.widget-item:focus .widget-item__header > widget-edit {
  opacity: 1;
}
.pocket-logo {
  height: 1em;
  margin-top: 4px;
}
