
<form>
  <input [(ngModel)]="query" placeholder="Sök station..." name="query">
  <button (click)="onSearch()">Search</button>
</form>
<div class="ui container">
<div class="ui grid centered">
  <div class="eight wide column">
    <div *ngFor="let item of items">
      <button (click)="onSelect(item)" class="ui button basic">{{item.Name}}</button>
    </div>
  </div>
  <div class="eight wide column" *ngIf="realtime">
    <div>
      <strong>LatestUpdate</strong>
      {{realtime.LatestUpdate | date: 'mediumTime'}}
    </div>
    <app-departure-info departureTitle="Tunnelbana" [items]="realtime.Metros"></app-departure-info>
    <app-departure-info departureTitle="Buss" [items]="realtime.Buses"></app-departure-info>
    <app-departure-info departureTitle="Tåg" [items]="realtime.Trains"></app-departure-info>
    <app-departure-info departureTitle="Spårvagn" [items]="realtime.Trams"></app-departure-info>
    <app-departure-info departureTitle="Båt" [items]="realtime.Ships"></app-departure-info>
    <div>
      <strong>StopPointDeviations</strong>
    </div>

    <pre *ngIf="realtime && debug">
      {{realtime | json}}
    </pre>
  </div>
</div>
</div>
