.ui.unstackable.items > .item > .image {
  width: 80px !important;
}

.loading-item {
  opacity: 1;
  transition: opacity 1s;
}
.loading-item--is-loading {
  opacity: 0;
}

/* Item buttons */
.pocket-action {
  opacity: 0;
  transition: opacity .3s;
  margin-left: auto;
}

.pocket-item:hover .pocket-action {
  opacity: 1;
}

.item-hostname {
  margin-right: 1rem;
}

.item-header {
  display: flex;
}
