<button class="ui positive icon button add-widget-action" (click)="onShowModal()" data-tooltip="Lägg till ny widget" data-position="bottom right">
  <i class="icon plus big"></i>
</button>
<lsu-modal [(ngModel)]="showModal" [options]="modalOptions">
  <div class="header">
    <h2 class="ui center aligned icon header">
      <i class="settings icon"></i>
      <div class="content">
        Lägg till widget
        <div class="sub header">Välj i listan bland widgets för att lägga till den i din samling.</div>
      </div>
    </h2>
  </div>
  <div class="content">
    <div class="ui six cards">
      <div *ngFor="let widget of availableWidgets;" class="card">
        <div class="content">
          <div class="header">{{widget.title}}</div>
        </div>
        <button class="ui bottom attached button" (click)="onAddWidget(widget)">
          <i class="add icon"></i>
          Lägg till
        </button>
      </div>
    </div>
  </div>
</lsu-modal>
