<div class="ui card fluid">
  <div class="content widget-item__header">
    <h2>
      <i class="calendar icon green"></i>
      <span>{{getSetting('ComponentTitle')}}</span>
    </h2>
    <widget-edit (onSaveWidgetEvent)="onSaveWidgetEvent($event)" (onDeleteWidgetEvent)="onDeleteWidgetEvent($event)" [Widget]="this"></widget-edit>
  </div>
  <div class="content">
    <div *ngIf="dayInfo">
      <div *ngIf="dayInfo.flagday">
        <strong>Flaggdag:</strong> {{dayInfo.flagday}}
      </div>
      <div>
        <strong>Vecka:</strong> {{dayInfo.weekNumber}}
      </div>
      <div>
        <strong>Namnsdag:</strong>
        <span *ngFor="let name of dayInfo.todaysNames; let isLast=last">
          {{name}}{{isLast ? '' : ', '}}
        </span>
      </div>
    </div>
  </div>
</div>
